@import 'variable';

.base-cont-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: $sidebar-menu-item-height !important;
  h4 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    color: #1F2D3D;
    .el-button{
      padding: 0px 5px;
      font-size: 16px;
      margin-right: 8px;
      border-radius: 3px;
    }
  }
  .el-breadcrumb{
    font-size: 12px;
    .el-breadcrumb__item{
      .el-breadcrumb__inner{
        font-weight: normal;
        &:not(:hover){
          color: #475669;
        }
      }
      &:last-child{
        .el-breadcrumb__inner{
          color: #99A9BF;
        }
      }
    }
  }
}
