$topbar-height: 50px;
$topbar-font-color: #dff0ff;
$topbar-border: 1px solid #216ac5;

$sidebar-width: 200px;
$sidebar-collapsed-width: 50px;
$sidebar-menu-item-height: 50px;
$sidebar-menu-item-left: 11px;

$menu-item-height: 40px;
